<!DOCTYPE html>
<html>

<head>
    <title>Livermore Urban Heat Island Mapping</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Tri-Valley Urban Heat Island Study</h1>
    <img src="{{ url_for('static', filename='QuestLogo.png') }}" alt="Logo" class="logo" onclick="toggleTextbox()">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button onclick="toggleTraces(false)">Hide All</button>
    <button onclick="toggleTraces(true)">Show All</button>
    <button onclick="toggleTemperatureUnit()">Toggle °C/°F</button>
    <button onclick="toggleGoogleMap()">Toggle Map Overlay</button>
    <div id="temperature_plot"></div>
    <div class="banner">Tri-Valley Youth Climate Action Project</div>
    <div id="textbox" class="textbox">Tri-Valley high school students from Pleasanton, Livermore, and Tracy are working with mentors from Quest Science Center to take hyper local temperature data in our urban areas during extreme heat events. This data will be used to assist cities in determining urban areas where residents are potentially more vulnerable to adverse health effects stemming from extreme temperatures and the formation of urban heat islands.</div>
    <div id="map-overlay" class="map-overlay">
        <div id="map"></div>
    </div>

    <script>
        var plot_data_celsius = {{ plot_data_celsius | safe }};
        var plot_data_fahrenheit = {{ plot_data_fahrenheit | safe }};
        var isCelsius = true;

        // Initialize the plot
        Plotly.newPlot('temperature_plot', plot_data_celsius.data, plot_data_celsius.layout);

        function toggleTraces(visibility) {
            var update = {};
            var vis = visibility ? true : 'legendonly';
            for (var i = 0; i < plot_data_celsius.data.length; i++) {
                update['visible'] = vis;
                Plotly.restyle('temperature_plot', update, [i]);
            }
        }

        function toggleTemperatureUnit() {
            isCelsius = !isCelsius;
            var plot_data = isCelsius ? plot_data_celsius : plot_data_fahrenheit;
            Plotly.newPlot('temperature_plot', plot_data.data, plot_data.layout);
        }

        function toggleGoogleMap() {
            toggleOverlay('map-overlay');
        }

        function toggleTextbox() {
            var textbox = document.getElementById('textbox');
            if (textbox.style.display === 'none' || textbox.style.display === '') {
                textbox.style.display = 'flex';
            } else {
                textbox.style.display = 'none';
            }
        }

        function toggleOverlay(id) {
            var element = document.getElementById(id);
            if (element.style.display === "none" || element.style.display === "") {
                element.style.display = "block";
            } else {
                element.style.display = "none";
            }
        }

        async function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 37.6818745, lng: -121.7680088 },
                zoom: 13,
                styles: [
                    {
                        featureType: "poi.business",
                        elementType: "labels",
                        stylers: [{ visibility: "off" }]
                    }
                ]
            });

            try {
                const response = await fetch('/get_map_data');
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const locations = await response.json();

                locations.forEach(function (location) {
                    new google.maps.Circle({
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35,
                        map: map,
                        center: { lat: parseFloat(location.current_latitude), lng: parseFloat(location.current_longitude) },
                        radius: 250
                    });
                    new google.maps.Marker({
                        position: { lat: parseFloat(location.current_latitude), lng: parseFloat(location.current_longitude) },
                        map: map,
                        label: {
                            text: location.sensor_id.toString(),
                            color: "black",
                            fontSize: "16px",
                            fontWeight: "bold"
                        },
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            scale: 0 // Set scale to 0 to hide the default marker icon
                        }
                    });
                });

            } catch (error) {
                console.error('Error fetching map data:', error);
            }
        }

        // Ensure overlays are hidden initially
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('map-overlay').style.display = 'none';
            initMap();  // Initialize the map
        });
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMwa7r_cM3NeLufVtd6xR4UlIsCv93h24&callback=initMap"></script>
</body>

</html>
